.container {
  display: flex;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* LADO ESQUERDO */
.left {
  flex: 1;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0.4;

}

.logo {
  margin-bottom: 40px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background-color: #ddd;
  font-size: 14px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background-color: #00e65c;
  color: white;
  font-weight: bold;
  cursor: pointer;
 
}

.btn-primary:hover {
  opacity: 0.9;
  
}

.divider {
  margin: 30px 0;
  text-align: center;
  position: relative;
  color: #000000;
}

.divider span {
  background: #f2f2f2;
  padding: 0 10px;
  color: rgb(11, 10, 10);
}

.divider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #ccc;
  top: 50%;
  left: 0;
  z-index: -1;
}

.btn-secondary {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #00e65c;
  background: transparent;
  color: #00e65c;
  font-weight: bold;
  cursor: pointer;
 
}

.btn-secondary:hover {
  background-color: #00e65c;
  color: white;
}


/* LADO DIREITO */
.right {
  background-color: #ddd;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right h2 {
  margin-bottom: 30px;
}

.right img {
  width: 70%;
  border-radius: 30px;
}


.error-box {
  background-color: #ff5c5c;
  color: white;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.close-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}



